.head-bg{
    background-image: url('https://ik.imagekit.io/9lxioulzw/Food-Store/foodmunch-banner-bg.png?updatedAt=1744218924790');

        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

}