
.bg-container{
background-image: url("https://ik.imagekit.io/9lxioulzw/Tourism/sea-ocean?updatedAt=1742903129453");
height: 600px;
width: 300px;
background-repeat: no-repeat;



}
    
.bg-page-container{
background-image: url("https://ik.imagekit.io/9lxioulzw/Tourism/taj-mahal?updatedAt=1742903057110/bg.jpg");
height: 600px;
width: 350px;
background-repeat: no-repeat;



}